input.first , input.second , input.third , input.fourth , input.fifth , input.sixth , input.seventh , input.eighth , input.ninth
{
width:40px;
height:40px;
color:white;
text-align:center;
margin:0px;
padding:0px;
}
input.second,input.fourth,input.sixth,input.eighth
{
background-color:red;
}
input.first,input.third,input.fifth,input.seventh,input.ninth
{
background-color:blue;
}
h1
{
text-align:center;
}
body
{
position:fixed;
left:50%;
margin-left:-232px;
}

